<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="year" value="2018" />
    <add key="path_from" value="C:\pku\mq_portal_temp" />
    <add key="path_to" value="D:\сообщения_PKU" />
    <add key="path_archive" value="D:\Архивы_PKU_НАС" />
  </appSettings>
</configuration>
